* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: Arial, sans-serif;

    body {
        height: 100%;
        margin: 0;
        color: #eee;
        background-color: #121212;
    }
}
