@use 'sass:color';

$white: #fefefe;
$black: #121212;
$darkBlue: #282a36;
$lighterBlue: #3d3f4a;
$darkGrey: #43454f;
$grey: #5e5f68;

$colors: (
    default: (
        background: $white,
        foreground: $black,
        disabled: $grey,
    ),
    panel: (
        background: $darkBlue,
        backgroundFaded: $lighterBlue,
        foreground: $white,
        border: $darkGrey,
    ),
    card: (
        border: color.scale($darkBlue, $lightness: 30%),
    ),
    log: (
        background: $black,
        foreground: $white,
        timestamp: $darkGrey,
        lineNumber: $darkBlue,
    ),
);

@function color($context, $key) {
    @if map-has-key($colors, $context) {
        @if map-has-key(map-get($colors, $context), $key) {
            @return map-get(map-get($colors, $context), $key);
        }
        @warn "Missing `#{key}` in context `#{$context}`";
        @return null;
    }
    @warn "Missing context`#{context}`";
    @return null;
}

.Inspector {
    .window {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 999;
        background-color: color(panel, background);
        color: color(panel, foreground);
        font-family: monospace;
    }

    .header {
        border-bottom: 1px solid color(panel, border);
        padding: 0.5rem;
        background-color: #141414;
        font-size: 0.75rem;
        display: flex;
        gap: 3rem;

        .title {
            flex: 1;
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
        .toolbar {
            display: flex;
            gap: 0.25rem;
        }
    }
    .body {
        padding: 0.5rem;
        font-size: 0.75rem;

        section {
            border-bottom: 1px solid color(panel, border);
            padding: 0.5rem 0.5rem 0.5rem;
            margin-bottom: 0.5rem;

            h3 {
                font-size: 1rem;
                padding: 0;
                margin: 0 0 0.25rem;
            }
            h4 {
                font-size: 0.75rem;
                padding: 0;
                margin: 0.75rem 0 0 0;
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }
            .table {
                display: grid;
                grid-template-columns: repeat(1, min-content 1fr);

                span {
                    padding: 0.12rem 0.25rem;
                    white-space: nowrap;
                    min-width: 2rem;

                    .Icon {
                        margin-right: 0.25rem;
                    }
                    &.subline {
                        padding-left: 1.5rem;
                    }
                }
                span:nth-child(2n + 1) {
                    padding-right: 0.5rem;
                }
                span:nth-child(4n + 3),
                span:nth-child(4n + 4) {
                    background-color: color(panel, backgroundFaded);
                }
            }
            .log {
                background-color: color(log, background);
                padding: 0.25rem 2rem 0.25rem 0.25rem;
                font-family: monospace;

                .ln {
                    color: color(log, lineNumber);
                    margin-right: 0.25rem;
                }
                .ts {
                    color: color(log, timestamp);
                    margin-right: 0.5rem;
                }
            }
        }
        select {
            margin-left: 0.5rem;
            color: inherit;
            padding: 0.25rem;
            border-style: solid;
            border-width: 0 0 1px;
            font-family: inherit;

            background-color: transparent;

            option {
                color: initial;
            }
        }
        ul {
            list-style: none;
        }
    }
    .version {
        color: color(default, disabled);
        padding-bottom: 0.25rem;
        text-align: center;
        font-size: 0.6rem;

        &:before {
            content: 'version: ';
        }
    }
}
