@use "sass:color";

$white: #fefefe;
$darkBlue: #282a36;
$darkGrey: #444;

$colors: (
    default: (
        background: $white,
    ),
    panel: (
        background: $darkBlue,
        foreground: $white,
        border: $darkGrey,
    ),
    card: (
        border: color.scale($darkBlue, $lightness: 30%),
    ),
);

@function color($context, $key) {
    @if map-has-key($colors, $context) {
        @if map-has-key(map-get($colors, $context), $key) {
            @return map-get(map-get($colors, $context), $key);
        }
        @warn "Missing `#{key}` in context `#{$context}`";
        @return null;
    }
    @warn "Missing context`#{context}`";
    @return null;
}

.Inspector {
    display: grid;
    grid-template-areas: "header preview" "sidepanel preview" "log preview";
    grid-template-rows: auto 1fr 20rem;
    grid-template-columns: 25rem 1fr;
    width: 100%;
    height: 100%;
    background-color: color(panel, background);
    color: color(panel, foreground);
    font-family: mono;
    border-right: 1px solid color(panel, border);

    .header {
        grid-area: header;
        border-bottom: 1px solid color(panel, border);
        border-right: 1px solid color(panel, border);
        padding: 0.5rem;
        background-color: #141414;
    }
    .sidepanel {
        grid-area: sidepanel;
        border-right: 1px solid color(panel, border);
        padding: 0.5rem;
        overflow-y: auto;

        ul {
            list-style: none;

            &.entities {
                font-size: 0.9rem;

                .entity {
                    border: 1px solid color(card, border);
                    padding: 0.25rem;
                    margin-bottom: 0.5rem;

                    .components {
                        padding: 0.5rem 0 0 1rem;

                        .component {
                            border: 1px solid color(card, border);
                            padding: 0.25rem;
                            margin-bottom: 0.25rem;

                            .componentProperties {
                                display: grid;
                                grid-template-columns: repeat(2, 40%);

                                .componentProp {
                                    display: contents;

                                    &.entityId {
                                        display: none;
                                    }
                                    &.type {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .log {
        padding: 0.5rem;
        grid-area: log;
        border-right: 1px solid color(panel, border);
        border-top: 1px solid color(panel, border);
    }
    .preview {
        grid-area: preview;
        background-color: color(default, background);

        width: 100%;
        height: 100%;
    }
}
