@use "sass:color";

$white: #fefefe;
$darkBlue: #282a36;
$lighterBlue: #3d3f4a;
$darkGrey: #444;

$colors: (
    default: (
        background: $white,
    ),
    panel: (
        background: $darkBlue,
        backgroundFaded: $lighterBlue,
        foreground: $white,
        border: $darkGrey,
    ),
    card: (
        border: color.scale($darkBlue, $lightness: 30%),
    ),
);

@function color($context, $key) {
    @if map-has-key($colors, $context) {
        @if map-has-key(map-get($colors, $context), $key) {
            @return map-get(map-get($colors, $context), $key);
        }
        @warn "Missing `#{key}` in context `#{$context}`";
        @return null;
    }
    @warn "Missing context`#{context}`";
    @return null;
}

.Inspector {
    .window {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 999;
        background-color: color(panel, background);
        color: color(panel, foreground);
        font-family: monospace;
        border: 1px solid color(panel, border);
    }

    .header {
        border-bottom: 1px solid color(panel, border);
        padding: 0.5rem;
        background-color: #141414;
        font-size: 0.75rem;
        display: flex;

        .title {
            flex: 1;
        }
        .toolbar {
            display: flex;
        }
    }
    .body {
        padding: 0.5rem;
        font-size: 0.75rem;

        section {
            border-bottom: 1px solid color(panel, border);
            padding: 0.5rem 0.5rem 0.5rem;
            margin-bottom: 0.5rem;

            h3 {
                font-size: 1rem;
                padding: 0;
                margin: 0 0 0.25rem;
            }
            h4 {
                font-size: 0.75rem;
                padding: 0;
                margin: 0.5rem 0 0 0;
            }
            .table {
                display: grid;
                grid-template-columns: repeat(1, min-content 1fr);

                span {
                    padding: 0.12rem 0.25rem;
                    white-space: nowrap;
                    min-width: 2rem;
                }
                span:nth-child(2n + 1) {
                    padding-right: 0.5rem;
                }
                span:nth-child(4n + 3),
                span:nth-child(4n + 4) {
                    background-color: color(panel, backgroundFaded);
                }
            }
        }
        select {
            margin-left: 0.5rem;
            color: inherit;
            padding: 0.25rem;
            border-style: solid;
            border-width: 0 0 1px;
            font-family: inherit;

            background-color: transparent;

            option {
                color: initial;
            }
        }
        ul {
            list-style: none;
        }
    }
}
