@use '@inspector/theme';

.Inspector {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 17rem;
    grid-template-rows: auto 1fr 20rem auto;
    grid-template-areas:
        'views header'
        'views sidepanel'
        'explorer sidepanel'
        'explorer footer';
    width: 100vw;
    height: 100vh;
    font-size: 0.75rem;
    font-family: monospace, sans-serif;
    background: theme.color(default, border);
    color: theme.color(default, foreground);

    & > * {
        background: theme.color(default, background);
    }

    ul,
    li,
    p,
    h3,
    pre,
    hr {
        margin: 0;
        padding: 0;
    }

    .header {
        grid-area: header;
        padding: 0.25rem 0.5rem;
        background-color: theme.color(header, background);
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    .views {
        grid-area: views;
        display: flex;
        overflow: hidden;

        .game,
        .gameDebug {
            background: repeating-conic-gradient(
                    theme.color(checkered, color1) 0% 25%,
                    theme.color(checkered, color2) 0% 50%
                )
                50% / 20px 20px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
        }
    }
    .sidepanel {
        grid-area: sidepanel;
        padding: 0.5rem;
    }
    .explorer {
        grid-area: explorer;
        padding: 0.5rem;
    }
    footer {
        grid-area: footer;
        padding: 0.25rem;
        color: theme.color(default, caption);
        text-align: center;
        font-size: 0.6rem;
    }
}
