.DarkUI {
    position: relative;

    .reticle {
        width: 2px;
        height: 2px;
        background-color: #eee;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-1px, -1px);
        outline: 1px solid #333;
    }
}
