@use '@inspector/theme';

.Button {
    background: none;
    border: 1px solid theme.color(control, border);
    padding: 0.25rem 0.5rem;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        background-color: theme.color(control, background-hover);
    }
    &:active {
        background-color: theme.color(control, background-active);
    }
}
