.Icon {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
}

button.Icon {
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
