.sb-scope,
.sb-scope * {
    font-size: 0.75rem;
    font-family: monospace, sans-serif;
    box-sizing: border-box;
    color: #fefefe;
}

/* 
 * Not sure why this is needed
 * Maybe a config problem, maybe a bug
 */
.docs-story {
    background: #212830 !important;
}
