@use '@inspector/theme';

.Select {
    display: inline-flex;
    align-items: center;

    .label {
        margin-right: 0.25rem;
    }
    .dropdown {
        border: 1px solid theme.color(control, border);
        padding: 0.25rem 0.5rem;
        color: theme.color(control, foreground);
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        display: inline-block;

        .selection {
            display: flex;
            align-items: center;

            &::after {
                margin-left: 0.25rem;
                content: '';
                width: 0;
                height: 0;
                border-left: 0.25rem solid transparent;
                border-right: 0.25rem solid transparent;
                border-top: 0.25rem solid white;
                transform: rotate(0deg);
                transition: transform 0.25s ease;
            }
        }
        .options {
            display: none;
            position: absolute;
            background: theme.color(control, background);
            border: 1px solid theme.color(control, border);
            border-radius: 2px;
            top: calc(100% + 0.25rem);
            right: 0;
        }
        &.open {
            .selection::after {
                transform: rotate(180deg);
            }
            .options {
                display: block;
                width: max-content;
            }
        }
    }
}
