* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: Arial, sans-serif;

    body {
        height: 100%;
        margin: 0;

        #Root {
            height: 100%;
        }
    }
}

.GLWindow {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;

    canvas {
        margin: 0;
        max-width: 100%;
    }
}

#debug {
    color: #ccc;
    width: 95%;
    max-width: 1280px;
    margin: auto;
    padding-top: 2rem;
    display: flex;

    #map {
        canvas {
            image-rendering: crisp-edges;
        }
    }
    #log {
        margin-left: 2rem;
        white-space: pre;
        min-height: 8rem;
        border: 1px solid white;
        flex: 1;
        padding: 1rem;
        font-family: monospace;
    }
}
