* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: Arial, sans-serif;

    body {
        height: 100%;
        margin: 0;
        color: #fff;

        #Root {
            height: 100%;
            overflow-y: auto;
            background-color: #161616;
        }
    }
}

ul {
    padding: 0;
    margin: 0;
}

.UI {
    position: relative;
    padding: 1rem;

    canvas {
        display: block;
        width: 100%;
        border: 1px solid #333;
    }
    .GENGINE_INFO {
        position: absolute;
        top: 2rem;
        left: 2rem;
        color: #aaa;
        font-family: monospace;
    }
}
